.our-package{
    width: 250px;
    height: 387px;
    transition: width 10s linear, heigth 10s, transform 10s;
}
.our-package:hover{
    padding-top: 50px;
    position: absolute;
    width: 292px;
    height: 480px;
    background-color: #3F87F5;
    color: white;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    border-radius: 26px;
    text-decoration: none;
}
.our-package a{
    text-decoration: none;
    width: 150px;
    height: 45px;
    transition: width 10s linear, heigth 10s, transform 10s;
}
.our-package:hover a{
    background: #FFFFFF;
    border-radius: 24px;
    width: 232px;
    height: 45px;
}
